* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/bg.jpg");
  background-size: cover;
  height: 100%;

}
.container {
  width: 1000px;
}

div img {
  background-position: 100% 100%;
}

 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  padding: 5px;
  margin: 70px;
}

 li {
  padding: 5px;
  list-style-type: none;
  color: #e5c8ca;
  display: inline-block;
  font-size: 15px;
  display:flex;
  justify-content: space-around;
  margin: 0px;
  
}

.headbanner {
  grid-column-gap: 3px;
}
section {
  margin: 40px;
}
.sk8er {
  margin: 300px;
  margin-top: 75px;
  margin-bottom: 0px;
  width: 45%;
  background-position: 50% 30%;
  display: flex;
  right:40px;
  border: 7px #FAF9FA solid;
}
.bo {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  padding: 35px;
  margin: 50px;
  background-color: green;
  position: relative;
  left: 80px
}
.box1 div {
  width: 150px;
  margin: 100px;
  padding: 75px;
  padding-right: 150px;
  border-width: 3px;
  border-color: blue;
  border-style: solid;
  : url("assets/top-image.png");
  background-position: 0% 0%;
}
section {
background-color: lue;
margin-left: 90px;
width: 100%;
}
.sk81 {
 width: 177px;
 background-color:#a91f2c;
 padding: 5px;
 margin: 10px;
 margin-left: 274px;
 margin-top: -11px;
 margin-bottom: 0px;
} 
.sk82{
  width: 177px;
 background-color:#a91f2c;
 padding: 5px;
 margin: 10px;
 margin-left: -6px;
 margin-top: -11px;
 margin-bottom: 0px;
 } 
 .sk83{
  width: 177px;
 background-color:#a91f2c;
 padding: 5px;
 margin: 10px;
 margin-left: 274px;
 margin-top: -11px;
 margin-bottom: 0px;
 } 
 .sk84{
  width: 177px;
 background-color:#a91f2c;
 padding: 5px;
 margin: 10px;
 margin-left: 274px;
 margin-top: -11px;
 margin-bottom: 0px;
 } 