* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/bg.jpg");
  background-size: cover;
  height: 100%;
  margin: 0 456px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buttons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content:space-evenly;
  margin: 25px 25px;
  padding: 0px 437px;
}


.headbanner {
  padding: 0px;
  list-style-type: none;
  color: #e5c8ca;
  display: inline-block;
  font-size: 15px;
  display:flex;
  justify-content: space-between;
  margin: 25px 0px;
}
  li {
  background-color: #B6262B;
  padding: 7px 69px;
  }

section {
  margin: 40px;
  margin-top: -60px;
  margin-bottom: 0px;
  margin-left: 260px;
  padding: 0px;
  right: 0px;
  left:0;
  width: 100%;
}
.sk8er {
  background-image: url("assets/top-image.png");
  background-repeat: no-repeat;
  background-position: 0 -102px ;
  background-size: 1264px 804px;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 7px solid #FBFBFB;
  margin: 0 0px;
  height: 375px
}
section {
background-color: lue;
margin-left: 90px;
width: 100%;
}
.logo{
  position: absolute;
  left: 483px;
  top: 155px;
  width: 475px;
  height: 240px
}
.box {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  padding: 0px 0px;
  
}
