* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/bg.jpg");
  height: 100%;
  margin: 0 456px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif; 
}
.buttons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content:space-evenly;
  margin: 25px 25px;
  padding: 0px 437px;
}


.headbanner {
  padding: 0px;
  list-style-type: none;
  color: #e5c8ca;
  font-size: 15px;
  display:flex;
  justify-content: space-between;
  margin: 25px 0px;
}
 li {
  background-color: #B6262B;
  padding: 7px 69px;
  }

section {
  margin: 40px;
  margin-top: -60px;
  margin-left: 260px;
  width: 100%;
}
.photo {
  background-image: url("assets/top-image.png");
  background-repeat: no-repeat;
  background-position: 0 -102px ;
  background-size: 1264px 804px;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 7px solid #FBFBFB;
  height: 375px
}
section {
background-color: lue;
margin-left: 90px;
width: 100%;
}
.logo{
  position: absolute;
  left: 483px;
  top: 155px;
  width: 475px;
  height: 240px
}
.box {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 332px
}
.box1 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color;
  margin: 0px 0px;
  padding: 20px 21px;
  width: 32.5%;
  background-color: #FEFEFE;
}

.box1 h1 {
  font-size: 24px;

}
.box1 p {
  font-size: 13px;
  line-height: 190%
}
.p2 {
display:flex;
justify-content:center;
color: #bf0000;
padding: 9px 0px;
}
.p3 {
  opacity: 38%;
  padding: 9px 0px;
}
.sk8er {
  display:grid;
  grid-template-columns: 33%;
  grid-template-rows: 250px 250px;
  margin: 25px 0px;
 }
.sk8er1 {
  background-image: url("assets/sk8er-4.png");
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 5px solid #FEFEFE;
  margin-right: 6px;
  background-size: 408px 257px;
  background-position: -85px -6px;
}
.sk8er2{
  background-image: url("assets/sk8er-3.png");
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 5px solid #FEFEFE;
  margin: 0px 6px;
}
.sk8er3{
  background-image: url("assets/sk8er-2.png");
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid #FEFEFE;
  margin-left: 6px;
  background-size: 735px 496px;
  background-position: -328px -5px;
 }
.sk8er4{
  background-image: url("assets/sk8er-1.png");
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 5px solid #FEFEFE;
  margin-right: 6px;
  margin-top: 12px;
  background-size: 724px 330px;
  background-position: 0px -72px;
}
